rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /slides/{documentId} {
      allow read, write: if true;
    }
    match /timelines/{documentId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
